/DesignPatterns_Adapters_Email/nbproject/private/
/DesignerPatterns_Composite_Aula3/DesignerPatterns_Composite_Aula3/target/
/DesignPatterns_Adapters_Email/build/
/DesignPatterns_Adapters_Email/dist/
