/DesignPatterns_Adapters_Email/nbproject/private/
/DesignerPatterns_Composite_Aula3/DesignerPatterns_Composite_Aula3/target/
/DesignPatterns_Adapters_Email/build/
/DesignPatterns_Adapters_Email/dist/
/DesignerPatterms_Decorator/nbproject/private/
/DesignerPatterms_Decorator/build/
/DesignerPatterms_FactoryMethod_AppBurguer/nbproject/private/
/DesignerPatterms_FactoryMethod_AppBurguer/build/
