/DesignPatterns_Adapters_Email/nbproject/private/
/DesignerPatterns_Composite_Aula3/DesignerPatterns_Composite_Aula3/target/
/DesignPatterns_Adapters_Email/build/
/DesignPatterns_Adapters_Email/dist/
/DesignerPatterms_Decorator/nbproject/private/
/DesignerPatterms_Decorator/build/
/DesignerPatterms_FactoryMethod_AppBurguer/nbproject/private/
/DesignerPatterms_FactoryMethod_AppBurguer/build/
/DesignerPatterms_Observer_PrecodeAcoes/nbproject/private/
/DesignerPatterms_Observer_PrecodeAcoes/build/
/DesignPatterns_Observer_Ex/target/
/DesignPatterns_Singleton_Exercicio/target/
/DesignPatterns_Strategy_Ex/target/
/DesignPatterns_Observer_/target/
/DesignPatterns_Observer_AppPreco/target/
/DesignPatterns_Strategy_Delivery/target/
/DesignPatterns_Singleton_InstanciaUser/target/
/DesignPatterns_Singleton_InstanciaUser2/nbproject/private/
/DesignPatterns_Singleton_InstanciaUser2/build/
/DesignPatterns_Strategy_Delivery2/nbproject/private/
/DesignPatterns_Strategy_Delivery2/build/
/DesignPatterns_Observer_AppPreco2/nbproject/private/
/DesignPatterns_Observer_AppPreco2/build/
